.about__main-container{
  p.text-secondary {
    padding-bottom: 5vh;
  }
}

.about__use-cases, .about__features, .about__more {
  color: white;
  ul li {
    font-size: 0.9em;
    font-weight: 100;
  }
}
