$text-primary: #FFFFFF;
$text-accent: #10FFF6;
$text-muted: #0BADA7;
$text-more-muted: #178A85;
$text-success: #03BA4B;
$text-success-muted: #028736;
$see-thru: rgba(255, 255, 255, 0.6);
$see-more-thru: rgba(255, 255, 255, 0.8);
