$navbar-offset-closed: 103px;
$navbar-offset-open: 252px;

html, body { overflow-x: hidden; }

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  @include setFont('Montserrat', 'sans-serif');
  @include bp(sp) {
    padding-top: 45px;
  }
  padding-top: $navbar-offset-closed;
  width: 100% !important;
}

div.secondary-text {
  color: #fff;
}

a {
  color: $see-thru;
  &:hover{
    color: $see-more-thru;
  }
}

.bg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -2;
}

.bg-darken {
  background:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  height: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.main-content {
  margin: 0 !important;
  padding: 0 10% !important;
  width: 100vw;
  z-index: 1;
  @include auto-margin;
}

#navbar-spacer {
  height: $navbar-offset-closed;
  //background-color: rgba(0, 255, 0, 0.5);
}

.spacer-short {
  height: 103px !important;
}

.spacer-tall {
  height: 252px !important;
}

.flash-warning {
  @extend .red;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}

.flash-success {
  @extend .green;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  text-align: center;
}

.text-left {
  text-align: left !important;
 }

// buttons
.btn.btn-default {
  background: rgba(0, 0, 0, 0);
  border: solid 2px #fff;
  color: #fff;
  &:hover {
    background: #fff;
  }
}
.btn.btn-primary {
  background: $text-muted;
  border: solid 1px $text-more-muted !important;
  &:hover {
    background: $text-more-muted;
    background: $text-more-muted;
  }
}

.btn.btn-register {
  border: solid 1px $text-muted !important;
  background: rgba(0, 0, 0, 0) !important;
  color: $text-accent !important;
  font-size: 1.67rem !important;
  &:hover {
    //color: $text-accent !important;
    background: $text-muted !important;
    color: #fff !important;
  }
}

.btn.btn-success {
  background: $text-success;
  border: solid 1px $text-success-muted;
  @include border-box;
  padding: 10px;
  &:hover {
    background: $text-success-muted;
  }
}

.btn.btn-cloudy {
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px rgba(0,0,0,0.1);
  &:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  }
}

input[type=submit] {
  margin-top: 1vh !important;
}

.top-buffer {
  margin-top: 35px !important;
}
