$navbar-offset-closed: 103px;
$navbar-offset-open: 252px;

* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  color: #fff !important;
  @include setFont('Montserrat', 'sans-serif');
  padding-top: $navbar-offset-closed;
  width: 100%;
}

.bg {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -2;
}

.bg-darken {
  background:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.main-content {
  margin: 0 !important;
  padding: 0 10% !important;
  width: 100vw;
  z-index: 1;
  @include auto-margin;
}

#navbar-spacer {
  height: $navbar-offset-closed;
  //background-color: rgba(0, 255, 0, 0.5);
}

.spacer-short {
  height: 103px !important;
}

.spacer-tall {
  height: 252px !important;
}

// buttons
.btn.btn-default {
  background: rgba(0, 0, 0, 0);
  border: solid 2px #fff;
  color: #fff;
  &:hover {
    background: #fff;
  }
}
.btn.btn-primary {
  background: $text-muted;
  border: solid 1px $text-more-muted;
  &:hover {
    background: $text-more-muted;
  }
}
.btn.btn-success {
  background: $text-success;
  border: solid 1px $text-success-muted;
  &:hover {
    background: $text-success-muted;
  }
}
.btn.btn-cloudy {
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px rgba(0,0,0,0.1);
  &:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  }
}
