.intro-text {
  padding: 0 !important;
  margin: 0 !important;
  height: 40vh;
}

.event-form {
  label {
    color: #fff;
  }

  input {
    margin-bottom: 15px;
  }

  label.you {
    margin-top: 15px;
  }
}

button.event-submit-btn {
}

