$nav-height: 100px;
$toggle-btn-height: 34px;
$toggle-offset: ($nav-height - $toggle-btn-height) / 2;
$top-offset: 25px;

.navbar-default {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;

  li, a {
    color: #fff !important;
  }

}

.navbar-toggle {
  .icon-bar {
    background-color: #fff !important;
  }
}

.navbar-collapse,
.navbar-header,
.navbar,
.navbar-brand,
.navbar-brand-content {
  border: none !important;
  li {
    @include bp(pc) {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
}

.navbar-brand-content {
  font-size: 2.4rem;
    @include bp(pc) {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
}

.navbar-brand-icon {
  padding-left: 0.4rem;
  padding-right: 0.8rem;
}

.fat-text {
  font-weight: 700;
}

// actual list of links on right side
.navbar-nav {
  font-size: 1.67rem;
}
