$nav-height: 8vh;

.navbar {
  background: rgba(0, 0, 0, .25);
  border-bottom: 1px solid #fff;
  height: $nav-height;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
  @include bp(sp) {
    height: 20vh;
    background: #0F0 !important;
  };
}

.navbar-logo {
  font-family: 'Lato', serif;
  font-size: 48px;
  line-height: $nav-height;
}
