//override bootstrap defaults
.color-primary {
  
}

.red {
  background-color: rgba(255, 0, 0, 0.36);
}
.blue {
  background-color: rgba(0, 0, 255, 0.36);
}
.green {
  background-color: rgba(0, 255, 0, 0.36);
}

.bold-border {
  border: 2px solid #fff !important;
}

.center-text {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// similar to bootstrap "container" but can go inside container-fluid
.center-content {
  @extend .main-content;
}

