// responsive
@mixin bp($point) {
  @if $point == xl {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == pc {
    @media (min-width: 768px)  {
      @content;
    }
  } @else if $point == sp {
    @media (max-width: 768px)  {
      @content;
    }
  }
}

// navbar
@mixin centerTextVert($elementHeight) {
  height: $elementHeight !important;
  line-height: $elementHeight !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
